:root {
    --custom-black: #0F0F0F;
    --custom-gray: #232D3F;
    --custom-green: #005B41;
    --custom-lgreen: #008170;

    --font-size: 18px;
    --font-family: 'Kode Mono', serif;
}

html {
    overflow: hidden;
}

body {
    margin: 0;

    font-size: var(--font-size);
    font-family: var(--font-family);

    background: var(--custom-black);
}

input {
    padding: 5px 15px;

    font-size: var(--font-size);
    font-family: var(--font-family);

    background: var(--custom-black);
    color: var(--custom-green);
    border: none;
    border-radius: 8px;
    max-width: 150px;
}

.btn-group {
    position: absolute;
    top: 20px;
    left: 20px;
}

.btn {
    z-index: 1;

    padding: 10px;

    font-size: 16px;
    text-align: center;
    text-decoration: none;

    color: var(--custom-lgreen);
    background: var(--custom-gray);
    border-radius: 50%;

    transform: translate3d(0, 0, 0);
    transition: all .3s;

    cursor: pointer;
}

.btn:hover {
    background-color: var(--custom-lgreen);
    color: var(--custom-gray);

    transform: translateY(0);
    transition-duration: .35s;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    overflow: auto;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    margin: 15% auto;
    padding: 10px;
    width: 80%;
    max-width: 400px;

    text-align: center;

    background-color: var(--custom-gray);
    color: var(--custom-lgreen);
    border: 1px solid var(--custom-green);
}

.modal-buttons button {
    box-sizing: border-box;
    padding: 2px 5px;
    max-width: 150px;
    min-width: 120px;

    font-size: var(--font-size);
    font-family: var(--font-family);
    text-align: center;

    background-color: var(--custom-black);
    border: 1px solid var(--custom-black);
    border-radius: 4px;
    color: var(--custom-green);

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.modal-buttons button:hover {
    background-color: var(--custom-green);
    color: var(--custom-black);
    opacity: 1;

    transform: translateY(0);
    transition-duration: .35s;
}